@import "tailwindcss";

:root{
    --background-color: #111111;
    --text-color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}
